

#imageContainer img{
    padding : 10px;
    width: 300px;
    height: 450px;

}

#clothesContainer img{
    padding : 10px;
    width: 300px;
    height: 450px;

}
#videoContainer video{
    padding : 10px;
    width: 600px;
    height: 300px;

}
