@charset "UTF-8";

body{
	margin : 0px;
	padding : 0px;

	box-sizing : border-box;
	overflow : hidden;
}

button{
	cursor : pointer;
}

.video_contain{
	display : flex;

}

#video_play{
	/*height : 100%;*/

}
.videoContents{
   /*  border: 1px solid black; */
    position : absolute;
    display:none;
    left:20%;
    top:10%;
    width : 1200px;
    height : 650px;
  /*  background-color : black;*/
}

#video2{

	left : 30%;
	top : 30%;
	/*width : auto;
	height : auto;*/
	width: 75%;
	height : 100%;
	object-fit : fill;

}

.toggle-1{
    position : absolute;
    right:90%;
    z-index: 999;
    opacity: 0.5;
}
.toggle-2{
    position : absolute;
    right:78%;
    z-index: 999;
    opacity: 0.5;
}

.shopInfo{
display:none;
}

.actorInfo{
display:none;
}